span {
    font-size: 120%;
    font-weight: bold;
}

i {
    font-size: 200%;
    color: #ffffff;
}

span {
    font-size: 110%;
    color: #ffffff;
    font-weight: normal;
}

.click-redes {
    margin-bottom: 2%;
    margin-top: 2%;
}

.footer-dark {
    background-color: #313131;
}

.footer-dark-text {
    color: #ffffff;
}