<footer class="footer-section" id="redes">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Ubicación</h4>
                            <span>Arenales 970, CABA</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Celular</h4>
                            <span>1162427130</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email</h4>
                            <span>neolia.m.garcia98@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/img/logo-titulo.png" class="img-fluid" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fab fa-whatsapp"></i>
                        <div class="cta-text">
                            <h4>Whatsapp</h4>
                            <a href="https://api.whatsapp.com/send?phone=541162427130" style="text-decoration: none;">
                                <span>1162427130</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fab fa-instagram"></i>
                        <div class="cta-text">
                            <h4>Instagram</h4>
                            <a href="https://www.instagram.com/re_lucisok" style="text-decoration: none;">
                                <span>re_lucisok</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>