<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Ir a mis redes sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://api.whatsapp.com/send?phone=541162427130" class="me-4 link-secondary">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/re_lucisok" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <img src="assets/img/logo.png">
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h5 class="fw-bold mb-4">Contacto:</h5>
                    <p>
                        <i class="fas fa-home me-3 text-secondary"></i>
                        Arenales 970, CABA
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        noelia.m.garcia98@gmail.com
                    </p>
                    <p>
                        <i class="fab fa-whatsapp me-3 text-secondary"></i>
                        1162427130
                    </p>
                    <p>
                        <i class="fab fa-instagram me-3 text-secondary"></i>
                        re_lucisok
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://relucisok.com.ar/">relucisok.com.ar</a>
    </div>
</footer>