<div class="section" id="servicios">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Servicios</h3>
        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microneedling.jpg" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microneedling</b></h5>
                            <p class="card-text">
                                Mejora la calidad de tu piel con la inducción de colágeno
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microdermoabrasion.png" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microdermoabrasión</b></h5>
                            <p class="card-text">
                                Aplica unos granos diminutos que consiguen exfoliar y eliminar las células muertas de la
                                piel
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microneedling.jpg" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microneedling</b></h5>
                            <p class="card-text">
                                Mejora la calidad de tu piel con la inducción de colágeno
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microneedling.jpg" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microneedling</b></h5>
                            <p class="card-text">
                                Mejora la calidad de tu piel con la inducción de colágeno
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microdermoabrasion.png" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microdermoabrasión</b></h5>
                            <p class="card-text">
                                Aplica unos granos diminutos que consiguen exfoliar y eliminar las células muertas de la
                                piel
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/microneedling.jpg" class="card-img-top" alt="Waterfall" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microneedling</b></h5>
                            <p class="card-text">
                                Mejora la calidad de tu piel con la inducción de colágeno
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>