<div class="section" id="servicios">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Servicios</h3>
        <div>
            <h4><b>Microneedling</b></h4>
            <p class="category">Mejora la calidad de tu piel con la inducción de colágeno</p>
            <img src="assets/img/microneedling.jpg" width="20%" height="20%">
        </div>
        <div>
            <h4><b>Microdermoabrasión</b></h4>
            <p class="category">Aplica unos granos diminutos que consiguen exfoliar y eliminar las células muertas de la
                piel</p>
            <img src="assets/img/microdermoabrasion.png" width="20%" height="20%">
        </div>
    </div>
</div>