<div class="section" id="servicios">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Servicios</h3>
        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/microneedling.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microneedling</b></h5>
                            <p class="card-text">
                                Mejora la calidad de tu piel con la inducción de colágeno
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/microdermoabrasion.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Microdermoabrasión</b></h5>
                            <p class="card-text">
                                Aplica unos granos diminutos que consiguen exfoliar y eliminar las células muertas de la
                                piel
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/anti-age.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Tratamientos anti-age</b></h5>
                            <p class="card-text">
                                Retrasan los efectos de la edad y retrasar el envejecimiento de las células
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/hidratacion.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Tratamientos de hidratacion</b></h5>
                            <p class="card-text">
                                Obtenés un rostro más luminoso y con una textura mucho más suave y tersa
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/despigmentante.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Tratamientos despigmentante</b></h5>
                            <p class="card-text">
                                Aclara la piel y elimina las manchas provocadas por el sol u otros factores agresores
                                externos, como la luz azul, la contaminación, etc.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/acne.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Tratamientos anti acné</b></h5>
                            <p class="card-text">
                                Tratamiento tópico con peróxido de benzoilo, retinoides y antibióticos (clindamicina,
                                tetraciclina y eritromicina base)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/peeling.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Peeling</b></h5>
                            <p class="card-text">
                                Actúa directamente sobre la capa superficial de la piel, limpiándola en profundidad,
                                aportándole elasticidad y atenuando las arrugas
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/img/servicios/linfatico.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Drenaje linfático</b></h5>
                            <p class="card-text">
                                Masaje, suave y ligero, que se aplica sobre el sistema circulatorio y que
                                moviliza los líquidos del organismo para favorecer la eliminación de las sustancias de
                                deshecho que se acumulan en el líquido que ocupa el espacio entre las células
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>