<div class="wrapper">

    <div class="page-header clear-filter">
        <div class="page-header-image" style="background-image: url('assets/img/header2.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img src="assets/img/now-logo.png" width="500" height="400">
                <h2 style="color: black; font-weight: bold;">Servicios de cosmetología</h2>
            </div>
        </div>
    </div>

    <div class="main">
        <app-servicios></app-servicios>
        <app-fotos></app-fotos>
        <app-redes></app-redes>
    </div>
</div>