<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="navbar-translate">
      <img src="assets/img/logo-titulo.png" width="30%" height="15%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-primary">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#pablo">
            <i class="now-ui-icons shopping_shop"></i>
            <p>Servicios</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pablo">
            <i class="now-ui-icons design_image"></i>
            <p>Fotos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pablo">
            <i class="now-ui-icons business_globe"></i>
            <p>Redes</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>