.navbar {
    background-color: #313131;
}

.nav-link {
    p {
        color: rgb(255, 255, 255);
        font-size: 150%;
        font-weight: bold;
    }
}

.icons {
    color: rgb(255, 255, 255);
    font-weight: bold;
}