<div class="section" id="servicios">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Servicios</h3>

        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
            <div class="row">
                <div class="col-lg-4" *ngFor="let service of data">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{service.title}}</b></h5>
                            <hr />
                            <p class="card-text">
                                {{service.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>