<div class="section" id="services">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Servicios</h3>

        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
            <div class="row">
                <div class="col-lg-4" *ngFor="let service of data">
                    <div class="card">
                        <img src="https://img.freepik.com/vector-gratis/fondo-escritorio-flores-vector-lindo_53876-136877.jpg?w=1380&t=st=1698501272~exp=1698501872~hmac=fbf06f2d2e208b9d430e90e9bb0e5e90caf8a18fac9fa01310156d142074bf9a" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{service.title}}</b></h5>
                            <hr />
                            <p class="card-text">
                                {{service.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>