span {
    font-size: 120%;
    font-weight: bold;
}

i {
    font-size: 200%;
    color: #2c2c2c;
}

span {
    font-size: 110%;
    color: #2c2c2c;
    font-weight: normal;
}

.click-redes {
    margin-bottom: 2%;
    margin-top: 2%;
}