<div class="section" id="networks">
    <div class="container">
        <h3 class="title text-center" style="font-size: 300%;">Redes</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let network of data">
                <div class="card">
                    <img src="{{network.img}}" class="card-img-top" alt="...">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-network" type="button" (click)="goToLink(network.link)">
                            <b> Ir a {{network.name}}</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>